<div id="results" class="collapse show"></div>
    
<form id="upload-fields" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-4 offset-md-4">{{>form_elements/file_input id="crc_csv" description="CytoRunContent CSV" placeholder="cytoRunContent.csv"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">{{>form_elements/file_input id="platemap_csv_files" description="Platemap CSVs" placeholder="platemap.csv" isMultiple=true}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">{{>form_elements/file_input id="images_csv" description="Images csv" placeholder="images.csv"}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
        <button id="submit" type="submit" class="btn btn-primary float-right">Submit</button>
      </div>
  </div>
</form>

<div id="progress_info">
</div>