<div class="card">
  <div class="card-body">
    <h4 class="card-title">Molecules</h4>
    {{> form_elements/text_input id='name' description='name' placeholder='name'}}
    {{> molecule/molecule_table}}
    <div class="row mt-3">
      <div class="col-md-12">
        {{>crud_buttons model_name='molecule'}}
      </div>
    </div>
  </div>
</div>
{{> common/delete_confirmation_modal model_name='molecule'}}