id mouse0 - fk id
mouse1 - fk id
pairing date - ts
plug date - ts
check for pup - ts
litter dob - ts
ween date - ts
male count - int female count - int
genotype - enum notes - varchar status - 0,1
<fieldset>
    <legend>Breed</legend>
    {{> text_input id='idx' description='ID' placeholder='1234'}}
    {{> select_input genome_data }}
    {{#JSONparse '{"items": ["huey","duey","louie"], "id":"male_mouse", "description":"male mouse"}'}}
        {{> select_input }}
    {{/JSONparse}}
    {{#JSONparse '{"items": ["blossom","buttercup","bubbles"], "id":"female_mouse", "description":"female mouse"}'}}
        {{> select_input }}
    {{/JSONparse}}

    {{> date_input id='pairing-date' description='Pairing'}}
    {{> date_input id='plug-date' description='Plug'}}
    {{> date_input id='pup-check-date' description='Pup check'}}
    {{> date_input id='litter-date-of-birth' description='Litter D.O.B.'}}
    {{> date_input id='ween-date' description='Ween'}}
    {{> text_input id='male-count' description='Male count' placeholder='3'}}
    {{> text_input id='female-count' description='Female count' placeholder='3'}}


    {{> text_area_input id='notes' description='Notes'}}
    <div class="form-group">
        <div class="col-md-3 col-md-offset-9">
            <button type="button" class="btn btn-default">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</fieldset>
