id fk mouse 0..5 type - enum stock, breeding, experiment, terminating
notes - varchar setup date - timestamp last update - timestamp end date - timestamp
<fieldset>
    <legend>Cage</legend>
    {{> text_input id='idx' description='ID' placeholder='1234'}}
    {{#JSONparse '{"items": ["stock","breeding","experiment","terminating"], "id":"type", "description":"type"}'}}
        {{> select_input }}
    {{/JSONparse}}

    {{> date_input id='setup-date' description='Setup date'}}
    {{> date_input id='last-update' description='Last update'}}
    {{> date_input id='end-date' description='End date'}}
    {{#JSONparse '{"items": ["huey","duey","louie","blossom","buttercup","bubbles"], "id":"mice", "description":"mice"}'}}
        {{> select_input }}
    {{/JSONparse}}

    {{> text_area_input id='notes' description='Notes'}}
    <div class="form-group">
        <div class="col-md-3 col-md-offset-9">
            <button type="button" class="btn btn-default">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</fieldset>
