<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-offset-6 col-md-6">
        <span class="pull-right">
        	<a href="{{model_name}}/create" class="btn btn-info btn-fab" role="button"><i class="material-icons">add</i> </a>
	    </span>
        <span class="pull-right">
	    	<button id="delete-{{model_name}}-button"  type="button" class="btn btn-danger btn-fab" ><i class="material-icons">delete</i></button>
	    </span>
    </div>
</div>
