<span class="pull-right">
    <a href="{{model_name}}/create" class="btn btn-info btn-fab" role="button" data-toggle="tooltip" data-placement="top" title="Add {{model_name}}"><i class="material-icons">add</i> </a>
</span>
<span class="pull-right">
    <button id="delete-{{model_name}}-button"  type="button" class="btn btn-danger btn-fab" data-toggle="tooltip" data-placement="top" title="Delete {{model_name}}" ><i class="material-icons">delete</i></button>
</span>