<span class="float-right" data-toggle="tooltip" data-placement="top" title="Add {{model_name}}">
    <a href="{{model_name}}/create" class="btn btn-primary" role="button"><i class="fa fa-plus fa-2x"></i></a>
</span>
<span class="float-right" data-toggle="tooltip" data-placement="top" title="Delete {{model_name}}">
    <button id="open-delete-{{model_name}}-modal-button" type="button" class="btn btn-danger" data-toggle="modal"
        data-target="#confirm-delete-modal">
        <i class="fa fa-trash fa-2x"></i>
    </button>
</span>