<div id="create-mouse-modal" class="modal fade">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add mouse</h4>
            </div>
            <div class="modal-body">
                <fieldset id="mouse-fields">
                    {{> text_input id='idx' description='ID' placeholder='1234'}}
                    {{> text_input id='ear_tag' description='Ear tag' placeholder='1234'}}
                    {{> select_input status}}
                    {{> select_input cages}}
                    {{> select_input genotype}}
                    {{> date_input id='date_of_birth' description='D.O.B.'}}
                    {{> radio_input sex}}
                    {{> text_area_input id='notes' description='Notes'}}
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="save-mouse-button" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
