<form class="form-horizontal">
    <fieldset>
        <legend>Mouse</legend>
        <div class="form-group">
            <label for="idx" class="col-md-2 control-label">index (generated if empty)</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="idx" placeholder="1234">
            </div>
            <label for="ear-tag" class="col-md-2 control-label">ear tag</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="ear-tag" placeholder="1234">
            </div>
            <label for="breader-id" class="col-md-2 control-label">breeder id</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="breader-id" placeholder="1234">
            </div>
            <label for="cage-id" class="col-md-2 control-label">cage id</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="cage-id" placeholder="1234">
            </div>
            <label for="dob" class="col-md-2 control-label">dob</label>
            <div class="col-md-10">
                <input type="text" class="form-control c-datepicker-input" id="dob" placeholder="1234">
            </div>
            <label class="col-md-2 control-label">Sex</label>
            <div class="col-md-10">
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        <i class="fa fa-mars fa-2x" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        <i class="fa fa-venus fa-2x" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <label for="notes" class="col-md-2 control-label">Notes</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" id="notes"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="button" class="btn btn-default">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
