<table id='mice' class="mdl-data-table " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Ear tag</th>
            <th>D.O.B</th>
            <th>Genotype</th>
            <th>Sex</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Cage</th>
            <th>Breed</th>
        </tr>
    </thead>
   
</table>
