<nav class="navbar navbar-expand-lg navbar-dark bg-dark  sticky-top">
  <a class="navbar-brand" href="/"><img src="/images/mouse.svg" style="width:70px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/mouse" data-toggle="tooltip" data-placement="bottom" title="Mice!">
            <i class="fa fa-mouse-pointer fa-2x" aria-hidden="true"></i>Mice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cage" data-toggle="tooltip" data-placement="bottom" title="Cages">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>Cages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/breed" data-toggle="tooltip" data-placement="bottom" title="Breed History">
            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>Breed History</a>
      </li>
     
    </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">{{ cool_face }} Login</a></li>
    </ul>
  </div>
</nav>
