# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
*.bundle.js
public/javascripts/*.bundle.js


\.vscode/launch\.json

dist/public/

input/ImageMappingData/

dist/

public/images/
