
<div id='cell_image_array'>
    <div id="image-row" class="card-deck">
   </div>
</div>

<table id='grid-list' class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            {{#each column_headers as |header|}}
            <th>{{header}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each row_value_list as |value_list|}}
        <tr>
            {{#each value_list as |value|}}
            <td class="hover_cell" value="{{value}}">{{value}}</td>
            {{/each}}
        </tr>

        {{/each}}
    </tbody>
    <tfoot>
            <tr>
            {{#each column_headers as |header|}}
            <th>{{header}}</th>
            {{/each}}
        </tr>
        </tfoot>
</table>
