<form id="grid-fields" enctype="multipart/form-data">
  <div class="form-group label-floating col-md-12">
    <label for="config_name">Configuration Name</label>
    <select class="form-control foo-select" id="config_name" size="12">
      {{#each config_name_list}}
      <option value="{{this.id}}">{{this.description}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group label-floating col-md-12">
    <div class="row">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="grid_data_csv">
        <label id="grid_data_csv_label" class="custom-file-label" for="grid_data_csv">Grid Data CSV</label>
      </div>
    </div>
  </div>
  <div class="form-group label-floating col-md-12">
    <div class="row">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="metadata_csv">
        <label id="metadata_csv_label" class="custom-file-label" for="metadata_csv">Metadata CSV</label>
      </div>
    </div>
  </div>
  <div class="form-group label-floating col-md-12">
    <div class="row">
      <div class="custom-file">
        <input type="file" multiple class="custom-file-input" id="image_files">
        <label class="custom-file-label" for="image_files">Image files</label>
      </div>
    </div>
  </div>

  <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</form>