<div class="card" id="image_{{id}}" style="width: 18em">
    <img class="card-img-top" src="{{image_uri}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <button type="button" class="close-btn btn btn-primary" data-effect="fadeOut">Close</button>
    </div>
</div>