<form id="grid-upload-config-fields">
    <div class="form-group label-floating col-md-12">
        <input type="file" class="custom-file-input" id="config_file">
        <label class="custom-file-label" or="customFile">Configuration file</label>
    </div>
    <button id="submit_upload" type="submit" class="btn btn-primary">Submit</button>
</form>