<div>
  <div>
    <button id="reset_cells" type="button" class="btn btn-secondary">Reset</button>
    <button id="select_all_undefined_cells" type="button" class="btn btn-secondary">Select all undefined</button>
    <button id="select_col_undefined_cells" type="button" class="btn btn-secondary">Select col undefined</button>
  </div>
</br>
  <div>
    <button id="green_button" type="button" class="btn btn-success">Positive</button>
    <button id="red_button" type="button" class="btn btn-danger">Negative</button>
    <button id="black_button" type="button" class="btn btn-dark">Empty</button>
    <button id="blue_button" type="button" class="btn btn-primary">Sample</button>
    <button id="grey_button" type="button" class="btn btn-secondary">Custom 00</button>
    <button id="yellow_button" type="button" class="btn btn-warning">Custom 01</button>
  </div>
</div>