<form id="grid-fields">
    
    {{> form_elements/select_input id='csv_uri' description='Grid data csv' class="col-md-12"}}
    {{> form_elements/select_input id='metadata_csv_uri' description='Metadata csv' class="col-md-12"}}
    {{> form_elements/select_input id='image_dir_uri' description='Image directory' class="col-md-12"}}
    
    <div class="row">
    {{> form_elements/select_input id='prefix' description='Prefix' class="col-md-6"}}  
    {{> form_elements/select_input id='extension' description='Extension' class="col-md-6"}}
    </div>

    <button id="submit" type="submit" class="btn btn-primary">Submit</button>

</form>