<table id='grid-list' class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            {{#each column_headers as |header|}}
            <th>{{header}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each row_value_list as |value_list|}}
       
        <tr>
             {{#each value_list as |value|}}
            <td>{{value}}</td>
            {{/each}}
        </tr>
        
        {{/each}}
    </tbody>
</table>
