<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    {{> third_party_head}}
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    
</head>

<body>
    {{!-- {{> nav cool_face=cool_face }} --}}
    <main role="main" class="container-fluid" style="padding-top: 25px;">
        {{{body}}}
    </main>
    {{> third_party_js_body}}


    {{#each extra_js}}
    <script src="/javascripts/{{this}}"></script>
    {{/each}}
</body>

</html>
