<div class="well bs-component">
    <div class="page-header">
        <h4>Add cage</h4> {{mouse}}
    </div>
    <div>
        <fieldset id="cage-fields">
            <div class="row">
                {{> form_elements/text_input id='id_alias' description='ID' placeholder='1234'}}
                {{> form_elements/select_input cage_type id='type_id' description='Type'}}
                {{> form_elements/date_input id='setup_date' description='Setup date'}}
                {{> form_elements/date_input id='update_date' description='Last update'}}
                {{> form_elements/date_input id='end_date' description='End date'}}
                {{> form_elements/select_input mice_select id='mouse_ids' isMultiple=true description='Mice'}}
            </div>

            <div class="row">
                {{> mouse/mouse_table}}
            </div>

            <div class="row">
                {{> form_elements/text_area_input id='note' description='Note'}}
            </div>
        </fieldset>
    </div>
    <div class="row">
        <button id="save-cage-button" type="button" class="btn btn-primary pull-right">Save</button>
        <button id="back-cage-button" type="button" class="btn btn-default pull-right">Back</button>
    </div>
</div>
