<div class='well bs-component'>
    <div class='page-header'>
        <h4>Update cage</h4> {{mouse}}
    </div>
    <div>
        <fieldset id='cage-fields'>
            <div class='row'>
                {{> form_elements/text_input id='id_alias' description='ID' value=cage.id_alias}}
                {{> form_elements/select_input cage_type id='type_id' description='Type' value=cage.type_id}}
                {{> form_elements/date_input id='end_date' description='End date' value=cage.end_date}}

            </div>
            <div class='row'>
                {{> form_elements/select_input mice_select id='mouse_ids' isMultiple=true description='Mice' value=cage.mouse_ids}}
                <div class='col-md-3 col-sm-6 d-flex align-items-center '>
                        <button id='show-mouse-table-button' data-toggle='collapse' data-target='#mouse-table' type='button' class='btn btn-default'>Add mice</button>
                    
                </div>
            </div>
            <div class='row d-flex flex-column'>
                <div id='mouse-table' class='collapse '>
                    {{> mouse/mouse_table}}
                </div>
            </div>
            <div class='row'>
                {{> form_elements/text_area_input id='note' description='Note' value=cage.note}}
                <input type='hidden' id='id' value='{{cage.id}}'/>
            </div>
        </fieldset>
    </div>
    <div class='row'>
        <button id='update-cage-button' type='button' class='btn btn-primary float-right'>Update</button>
        <button id='back-cage-button' type='button' class='btn btn-default float-right'>Back</button>
    </div>
</div>
