<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create festival playlist</h4>
        <div class="row mt-3">
            <div class="col-md-12">
                <form id="festival-fields">
                    <div class="form-group">
                        <label for="festival_name">Festival name</label>
                        <input class="form-control form-control-lg" id="festival_name" placeholder="Outside Lands 2018">
                    </div>
                    <div class="form-group label-floating  col-md-12 col-sm-6">
                    <label for="song_count" class="control-label">song_count: </label>
                    <div id="song_count" class="slider shor slider-material-orange"></div>
                </div>
                    <div class="form-group">
                        <label for="artist_list">Artist list</label>
                        <textarea class="form-control" id="artist_list" rows="20"></textarea>
                    </div>
                </form>
                <button id="create_playlist_button" type="button" class="btn btn-success btn-lg btn-block">Create</button>
            </div>
        </div>
    </div>
</div>