<div class="card">
    <div class="card-body">
        <h4 class="card-title">Login to Spotify</h4>
        <div class="row mt-3">
            <div class="col-md-12">
                <div id="login">
                    <h1>First, log in to spotify</h1>
                    <a href="/festival/login">Log in</a>
                </div>
                <div id="loggedin">
                </div>
            </div>
        </div>
    </div>
</div>
