<div class="card">
    <div class="card-body">
        <h4 class="card-title">Grid</h4>

        <form id="grid-fields">
            <div class="row"></div>
            
            <div class="form-group">
                <label for="csvUri">Grid data CSV</label>
                <input class="form-control" id="csv_uri" placeholder="/path/to/data.csv" value="/Users/joe/Sites/mouse-house/input/ImageMappingData/Platemap.csv">
            
            </div>
            <div class="form-group">
                <label for="image_dir_uri">Image directory</label>
                <input class="form-control" id="image_dir_uri" placeholder="/path/to/images" value="/Users/joe/Sites/mouse-house/input/ImageMappingData/Tubulin/">
            </div>
            <div class="form-group">
                <label for="prefix">Prefix</label>
                <input class="form-control" id="prefix" placeholder="Tubulin_" value="Tubulin_">
            </div>
            <div class="form-group">
                <label for="extension">Extension</label>
                <input class="form-control" id="extension" placeholder=".jpg" value=".jpg">
            </div>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>


    <div class="row mt-3">
        <div class="col-md-12">

            <div id="results"></div>
        </div>
    </div>
</div>
</div>