<div class="form-group   label-floating col-md-3 col-sm-6">
    <label for="{{id}}" class="control-label">{{description}}</label>
    <div class="input-group">
        <input type="text" class="form-control c-datepicker-input" id="{{id}}">
        <span class="input-group-btn">
	     	<button type="button" class="btn btn-fab btn-fab-mini today-btn">
	        	<i class="material-icons">today</i>
	      	</button>
    </span>
    </div>
</div>
