<div class="form-group label-floating  col-md-6">
    <label for="{{id}}" class="col-md-3 control-label">{{description}}</label>
    <div class="col-md-9">
        <input type="text" class="form-control" id="{{id}}" >
    </div>
</div>
