<div class="form-group label-floating  col-md-2">
    <label for="{{id}}" class=" control-label">{{description}}</label>
    <div class="">
        <input type="text" class="form-control" id="{{id}}" >
    </div>
</div>
