<div class="well bs-component">
    <div class="page-header">
        <h3>Mice</h3>
    </div>
    {{> mouse/mouse_table}}
    <div class="row">
        <div class="col-md-6">
            <span class="pull-left" data-toggle="tooltip" data-placement="top" title="Assign Cage">
                <button id="cage-mouse-button" type="button" class="btn btn-primary" data-toggle="modal"  data-target="#cage-mice-together-modal" >
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                </button>
            </span>
            <span class="pull-left" data-toggle="tooltip" data-placement="top" title="Create breeding">
                <button id="breed-mouse-button"  type="button" class="btn btn-danger" >
                    <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                </button>
            </span>
        </div>
        <div class="col-md-6">
            {{> crud_buttons model_name='mouse'}}
        </div>
    </div>
</div>
{{> mouse/mouse_cage_modal}}