<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add mouse</h4>

        <fieldset id="mouse-fields">
            <div class="row">
                {{!-- {{> form_elements/text_input id='id_alias' description='ID' placeholder='1234'}} --}}
                {{> form_elements/text_input id='ear_tag' description='Ear tag' placeholder='1234'}}
                {{> form_elements/select_input status id='status_id' description='Status'}}
                {{> form_elements/select_input cages id='cage_id' description='Cage'}}
                {{> form_elements/select_input genotype id='genotype_id' description="Genotype"}}
                {{> form_elements/date_input id='dob' description='D.O.B.'}}
                {{!-- {{> form_elements/radio_input sex id='sex_id' description='Sex'}} --}}

                <div class="form-group label-floating  col-md-3 col-sm-6">
                    <label for="male" class="control-label">male: </label>
                    <div id="male" class="slider shor slider-material-orange"></div>
                </div>
                <div class="form-group label-floating  col-md-3 col-sm-6">
                    <label for="female" class="control-label">female: </label>
                    <div id="female" class="slider shor slider-material-orange"></div>
                </div>
                <div class="form-group label-floating  col-md-3 col-sm-6">
                    <label for="unknown" class="control-label">unknown: </label>
                    <div id="unknown" class="slider shor slider-material-orange"></div>
                </div>

            </div>
            {{> form_elements/text_area_input id='note' description='Note'}}
            <input type="hidden" id="id" value="{{mouse.id}}"/>
        </fieldset>
    </div>
    <div class="row">
        <button id="save-mouse-button" type="button" class="btn btn-primary float-right">Save</button>
        <button id="back-mouse-button" type="button" class="btn btn-default float-right">Back</button>
    </div>
</div>
