<div class="form-group label-floating col-md-12">
    <label for="{{id}}" class="control-label">{{description}}</label>
    <textarea class="form-control" rows="3" id="{{id}}">{{value}}</textarea>
</div>
