<div class="form-group label-floating  col-md-3 col-sm-6">
    <label for="{{id}}" class=" control-label">{{description}}</label>
    <div >
        <input type="text" class="form-control" id="{{id}}" value="{{value}}"/>

    </div>
</div>


