<div class="row">
    <div class="col">
        <div id="mods"></div>
        <div id="results"></div>
    </div>
    <div class="col">
        <div id="plot"></div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col">
        <form id="mw-fields">
            <div class="row">
                <div class="col">
                    {{>form_elements/text_area_input id="json" description="JSON" placeholder="" 
            value=""}}</div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-4">
                    <button id="submit" type="submit" class="btn btn-primary float-right">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>