<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Breed</h4> 
        <fieldset id="breed-fields">
            <div class="row">
                {{> form_elements/text_input id='id_alias' description='ID' placeholder='1234'}}
                {{> form_elements/select_input male_mice id='male_mouse' description='Male'}}
                {{> form_elements/select_input female_mice id='female_mouse' description='Female'}}

                {{> form_elements/date_input id='pairing_date' description='Pairing'}}
                {{> form_elements/date_input id='plug_date' description='Plug'}}
                {{> form_elements/text_input id='pup_check_date' description='Pup check' extra_attr='disabled'}}
            </div>
            <div class="row">
                {{> form_elements/text_area_input id='note' description='Note'}}
            </div>
            <div class="row">
                <button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-secondary mb-3">
                    Add offspring
                </button>
            </div>
            <div id="demo" class="collapse">
                <div class="row">
                    {{> form_elements/date_input id='litter_date' description='Litter D.O.B.'}}
                    {{> form_elements/text_input id='ween_date' description='Ween' extra_attr='disabled'}}
                    {{> form_elements/text_input id='male_count' description='Male count' placeholder='3'}}
                    {{> form_elements/text_input id='female_count' description='Female count' placeholder='3'}}
                </div>
                <div class="row">
                    {{> form_elements/text_area_input id='note2' description='Note'}}
                </div>
            </div>
        </fieldset>
        
        <div class="row">
            <button id="save-breed-button" type="button" class="btn btn-primary float-right">Save</button>
            <button id="back-breed-button" type="button" class="btn btn-secondary float-right">Back</button>
        </div>
    </div>
</div>