<div class="well bs-component">
    <div class="page-header">
        <h4>Breeds</h4>
    </div>
    {{> breed/breed_table}}
    <div class="row">
        {{>crud_buttons model_name='breed'}}
    </div>
</div>
{{> common/delete_confirmation_modal model_name='breed'}}