<div class="card" id="current_hand">
    <div class="card-body">
        <h4 class="card-title">Current hand</h4>

        <div class="row">
            <div class="col-md-3 ">
                <div class="card">
                    <div class="card-header bg-warning">
                    </div>
                    <ul id="yellow-group" class="list-group list-group-flush">

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-dark">
                    </div>
                    <ul id="black-group" class="list-group list-group-flush">

                    </ul>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card">
                    <div class="card-header bg-primary">
                    </div>
                    <ul id="blue-group" class="list-group list-group-flush">

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-danger">
                    </div>
                    <ul id="red-group" class="list-group list-group-flush">

                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <select class="city_select" name="states[]" multiple="multiple" placeholder="City name">
        </select>
    </div>
    
    <div class="col-md-3">
        <button id="infect_button" type="button" class="btn btn-danger btn-block">infect</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>