<div class="card">
    <div class="card-body">
        <h4 class="card-title">Project: {{project.name}}</h4>

        <div class="wrapper">

            <nav id="sidebar" class="">
                <div class="sidebar-header">
                    <h3>Experiments</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>{{project.note}}</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle collapsed">Home</a>
                        <ul class="list-unstyled collapse" id="homeSubmenu" style="">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true"
                            class="dropdown-toggle">Pages</a>
                        <ul class="list-unstyled collapse show" id="pageSubmenu" style="">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

            </nav>

            <div id="content">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                {{> experiment/experiment_table}}
                <div class="row mt-3">
                    <div class="col-md-12">
                        {{>crud_buttons model_name='experiment'}}
                    </div>
                </div>
            </div>



        </div>
    </div>
    {{> common/delete_confirmation_modal model_name='experiment'}}
</div>


<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>